## [Start] Setting "userFlaggedIncorrect" to default value of "false". **
$util.qr($context.args.input.put("userFlaggedIncorrect", $util.defaultIfNull($ctx.args.input.userFlaggedIncorrect, false)))
## [End] Setting "userFlaggedIncorrect" to default value of "false". **
{}